body{
    background-color:hsl(185, 75%, 39%);

}
.card{
    background-color: white;
    position: relative;
    height: 50vh;
    width: 24.8vw;
    border-radius: 25px;
     top: 15vw;
     left: 38vw;
}
#victor{
    border-radius: 100%;
    position: relative;
    bottom: 6.2vh;
    left: 9vw;
    width: 12.7vh;
    border: solid 5px white;
}
#capa{
    width: 47.7vh;
    border-radius: 25px 25px 0 0;
}
.texto{
    position: relative;
    bottom: 8vh;
    left: 6.8vw;
   
}
hr{
    position: relative;
    right: 6.8vw;
    top: 1vw;

}
table{
    position: relative;
    bottom: 10.5vh ;
    top: 1vh;
    bottom: 20vw;
}
samp{
    position: relative;
   
}
p{
    position: relative;
    left: 4vw;
}